{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/Portfolio/homePage.css' %}">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <img src="assets/Im.jpeg" alt="">
        <div class="TitleText padding1">Vitaliy`s Portfolio</div>
        
    </header>

<div class="container">
    <table>
        <tr>
            <td>
                <a id="Cell" class="DesignImageCell" href="designsPage.html">
                    <p>Designs</p>
                    <p>My designs</p>
                </a>
            </td>
            <td>
                <a id="Cell" class="SiteImageCell" href="sitesPage.html">
                    <p>Sites</p>
                    <p>My sites</p>
                </a>
            </td>
        </tr>
       



       <!--
        <tr>
            <td>
                <a id="Cell" class="AnotherImageCell" href="#">
                    <p>Another</p>
                    <p>More</p>
                </a>
            </td>
            <td>
                <a id="Cell" class="SkillsImageCell" href="#">
                    <p>Skills</p>
                    <p>My skills</p>
                </a>
            </td> 

        </tr>
        -->






    </table>



</div>

    <div class="container2 ContactsPadding">
       <div class="TitleText">
        Contacts
       </div>
        
        
    <div class="InstagramButton">
        
    </div>

    </div>    




</body>
</html>