<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="sitesPage.css">
    <title>Vitaliy`s Sites</title>
</head>
<body>
    <header>
        <div class="TitleText">
            <a href="homePage.html">Vitaliy`s Portfolio</a>
            
        </div>
        
    </header>


    <div class="container">
        <table>
            <tr>
                <td>
                    <img class="projectImage" src="assets/sites/MacInUa.jpg" alt="">
                    
                    <div class="aboutProject1">
                        <div class="titleProject">MacInUa</div>
                        <div class="textProject">Apple Mac Resaler site
                            <a class="buttonType1" href="http://vistels.pythonanywhere.com/main/home/">open</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>







</body>
</html>